.team-box {
    display: flex;
    gap: 30px;
}

.team-item {
    width: 270px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member {
    padding: 30px;
    text-align: center;
}

.team-member p {
    margin-bottom: 16px;
}

.team-icons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.team-contact-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.icon-link:hover .team-icon,
.icon-link:focus .team-icon {
    fill: #ffffff;
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}